* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background: #ffffff;
  box-shadow: 3px 3px 5px rgba(243, 65, 65, 0.1);
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

nav a:hover {
  background: #f0f0f0;
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  /* right: 0; */
  z-index: 999;
  background: rgb(255, 255, 255, 0, 2);
  height: 100vh;
  width: 250px;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  /* display: flex; */
  /* display: none; */
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  backdrop-filter: blur(10px);
  transition: 0.4s ease-in-out;
}

.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
.hideOnScreen {
  display: none;
}
@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .hideOnScreen {
    display: block;
    /* transition: all 1s ease-out; */
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
